$primary-colour-dark: hsl(132, 18, 39);
$primary-colour-text: hsl(132, 59.1, 6);

$primary-colour: hsl(132, 39, 45); //53, 153, 106
$primary-colour-light: hsl(132, 39, 55);
$primary-colour-lightest: hsl(132, 39, 77);
$primary-colour-lightest-alt: hsl(132, 59, 92);

$secondary-colour: hsl(25, 88, 67); 
$secondary-colour-dark: hsl(20, 100, 30);
$secondary-colour-text: hsl(20, 60, 20);  
$secondary-colour-light: hsl(20, 60, 84);

$tertiary-colour-light: hsl(132, 0, 77);
$tertiary-colour: hsl(132, 0, 67);
$tertiary-colour-dark: hsl(132, 0, 30);
$tertiary-colour-text: hsl(132, 0, 6);

$error-colour: hsl(0, 88, 25);
$error-colour-light: hsl(0, 88, 87);

